h1 {
  text-align: center;
  font-family: helvetica;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
  padding-left: 8%;
  padding-right: 8%;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 40%;
  margin-right: 40%;
  border-style: inset;
  border-width: 1px;
}
